<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Track Management</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" class="form-control" placeholder="Enter Event Name" id="eventName"/>
        <p class="eventNameErrMsg text-warning hidden">Event name can not be empty</p>
    </div>
    <div class="form-group">
        <label for="durationType">Duration Type</label>
        <input type="checkbox" id="durationType">
    </div>
    <div class="form-group" id="eventDurationWrapper">
        <label for="eventDuration">Duration:</label>
        <input type="number" class="form-control" placeholder="Enter Duration Of Event (In Minutes)" min="1" max="60" id="eventDuration"/>
        <p class="durationErrMsg text-warning hidden">Please enter the duration between 1 to 60</p>
    </div>
    <div class="form-group">
        <button id="btnCreateEvent" class="btn-primary">Create Event</button>
        <button id="btnShowEvents" class="btn-primary">Show Events</button>
    </div>
    <div id="trackDetails"></div>
    <script id="tracks-template" type="text/x-handlebars-template">
        <div>
            {{#each this}}
            <div class="row">
                <h2>Track {{id}}</h2>
                <div class="col-md-6">
                    <h3>First Half</h3>
                    {{#events.firsthalf}}
                    <div class="table-bordered">
                        <p><b>Event Name:</b> {{name}}</p>
                        <p><b>Starts At:</b> {{startTime}}</p>
                        <p><b>Ends At:</b> {{endTime}}</p>
                    </div>
                    {{/events.firsthalf}}
                </div>
                <div class="col-md-6 ">
                    <h3>Second Half</h3>
                    {{#events.secondhalf}}
                    <div class="table-bordered row">
                        <p><b>Event Name:</b> {{name}}</p>
                        <p><b>Starts At:</b> {{startTime}}</p>
                        <p><b>Ends At:</b> {{endTime}}</p>
                    </div>
                    {{/events.secondhalf}}
                </div>
            </div>
            {{/each}}
        </div>
    </script>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/handlebars/handlebars.min.js"></script>
<script src="js/index.js"></script>
<script src="js/models/Event.js"></script>
<script src="js/models/Track.js"></script>
<script src="js/controllers/EventController.js"></script>
</body>
</html>